---
import CardAdn from "./ui/CardAdn.astro";
---

<section id="services" class="flex flex-col gap-10 pt-32">
  <h2 class="text-slate-200 text-4xl lg:text-5xl text-center font-semibold">
    Servicios Softwow Journey
  </h2>
  <div class="flex flex-wrap justify-center gap-8">
    <CardAdn
      image="/image/desempeno.webp"
      alt="Ignite - Consultoría e Innovación"
      description="Ignite: Potenciamos tu negocio con consultoría estratégica e innovación digital. Identificamos oportunidades y diseñamos soluciones que transforman desafíos en ventajas competitivas."
    />
    <CardAdn
      image="/image/resultados.webp"
      alt="Build - Desarrollo de Producto"
      description="Build: Desarrollamos productos digitales a medida que impulsan tu crecimiento. Desde aplicaciones web hasta sistemas empresariales, construimos soluciones que marcan la diferencia."
    />
    <CardAdn
      image="/image/seguimiento.webp"
      alt="Scale - Crecimiento y Optimización"
      description="Scale: Maximizamos el potencial de tu negocio con estrategias de crecimiento y optimización. Implementamos mejoras continuas para escalar tu impacto en el mercado digital."
    />
  </div>
</section>