---
import GalaxyButton from "./ui/galaxyButton.astro";
---

<section
  id="value-proposal"
  class="flex flex-col md:flex-row justify-center items-center md:items-start gap-8"
>
  <h2
    class="text-slate-200 text-2xl lg:text-4xl lg:text-start font-semibold text-center lg:hidden block"
  >
    Innovación y crecimiento para empresas
  </h2>
  <div class="w-fit">
    <iframe
      class="rounded-[8px]"
      src="https://player.vimeo.com/video/1062997354?badge=0&autopause=0&player_id=0&app_id=58479"
      width="281"
      height="500"
      frameborder="0"
      allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media"
      title="Softwow: La clave para escalar tu negocio con tecnología y comercio electrónico"
    ></iframe>
  </div>

  <div class="max-w-[600px] flex flex-col gap-20">
    <div class="flex flex-col gap-10">
      <h2
        class="text-slate-200 text-2xl lg:text-4xl lg:text-start font-semibold text-center hidden lg:block"
      >
        Innovación y crecimiento para empresas que quieren más
      </h2>
      <div class="flex flex-col gap-4">
        <p class="text-slate-200 text-lg">
          En Colombia, solo 3 de cada 10 empresas están aprovechando las
          oportunidades del comercio electrónico y la automatización de
          procesos. En Softwow, queremos cambiar esta realidad brindando una
          solución integral para negocios que buscan crecer con tecnología,
          estrategia y formación especializada.
        </p>
        <p class="text-slate-200 text-lg">
          Descubre cómo Softwow puede potenciar tu negocio.
        </p>
      </div>
    </div>

    <GalaxyButton buttonText="Chateá con nosotros" />
  </div>
</section>